In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# PROBLEM 1

Read IMUdata using pandas dataframe

In [2]:
imu_data = pd.read_csv('IMUData.csv')

In [3]:
imu_data.head()

,time,gyroscope.X,gyroscope.Y,gyroscope.Z,accelerometer.X,accelerometer.Y,accelerometer.Z,magnetometer.X,magnetometer.Y,magnetometer.Z
0,0.000000,-0.9375,-1.250,0.875,0.019043,-0.052246,0.97803,0.20996,0.031250,-0.44873
1,0.003906,-0.9375,-1.250,0.875,0.019043,-0.052246,0.97803,0.20996,0.031250,-0.44873
2,0.007812,-0.9375,-1.875,0.250,0.019043,-0.067871,0.99756,0.20996,0.031250,-0.44873
3,0.011719,-1.3125,-2.000,0.125,0.026855,-0.032715,0.98975,0.21484,0.041016,-0.45361
4,0.015625,-1.7500,-2.125,0.000,0.003418,-0.032715,0.99365,0.21484,0.041016,-0.45361

In [4]:
imu_data.columns

Index(['time', ' gyroscope.X', ' gyroscope.Y', ' gyroscope.Z',
       ' accelerometer.X', ' accelerometer.Y', ' accelerometer.Z',
       ' magnetometer.X', ' magnetometer.Y', ' magnetometer.Z '],
      dtype='object')

## Gyroscope data

In [5]:
gyroscope_data = imu_data[['time', ' gyroscope.X', ' gyroscope.Y', ' gyroscope.Z']].rename(columns = {' gyroscope.X':'x', ' gyroscope.Y':'y', ' gyroscope.Z':'z'})

In [6]:
gyroscope_data.head()

       time       x      y      z
0  0.000000 -0.9375 -1.250  0.875
1  0.003906 -0.9375 -1.250  0.875
2  0.007812 -0.9375 -1.875  0.250
3  0.011719 -1.3125 -2.000  0.125
4  0.015625 -1.7500 -2.125  0.000

## Accelerometer data

In [7]:
accelerometer_data = imu_data[['time', ' accelerometer.X', ' accelerometer.Y', ' accelerometer.Z']].rename(columns = {' accelerometer.X':'x', ' accelerometer.Y':'y', ' accelerometer.Z':'z'})

In [8]:
accelerometer_data.head()

       time         x         y        z
0  0.000000  0.019043 -0.052246  0.97803
1  0.003906  0.019043 -0.052246  0.97803
2  0.007812  0.019043 -0.067871  0.99756
3  0.011719  0.026855 -0.032715  0.98975
4  0.015625  0.003418 -0.032715  0.99365

In [34]:
accelerometer_data['magnitude'] = np.sqrt(np.square(accelerometer_data[['x', 'y', 'z']]).sum(axis=1))

In [35]:
accelerometer_data.head()

       time         x         y         z  magnitude
0  0.000000  0.000332 -0.000912  0.017070   0.017097
1  0.003906  0.000332 -0.000912  0.017070   0.017097
2  0.007812  0.000332 -0.001185  0.017411   0.017454
3  0.011719  0.000469 -0.000571  0.017274   0.017290
4  0.015625  0.000060 -0.000571  0.017342   0.017352

## Magnetometer data

In [9]:
magnetometer_data = imu_data[['time', ' magnetometer.X', ' magnetometer.Y', ' magnetometer.Z ']].rename(columns = {' magnetometer.X':'x', ' magnetometer.Y':'y', ' magnetometer.Z ':'z'})

In [10]:
magnetometer_data.head()

       time        x         y        z
0  0.000000  0.20996  0.031250 -0.44873
1  0.003906  0.20996  0.031250 -0.44873
2  0.007812  0.20996  0.031250 -0.44873
3  0.011719  0.21484  0.041016 -0.45361
4  0.015625  0.21484  0.041016 -0.45361

In [36]:
magnetometer_data['magnitude'] = np.sqrt(np.square(magnetometer_data[['x', 'y', 'z']]).sum(axis=1))

In [37]:
magnetometer_data.head()

       time         x         y         z  magnitude
0  0.000000  0.003664  0.000545 -0.007832   0.008664
1  0.003906  0.003664  0.000545 -0.007832   0.008664
2  0.007812  0.003664  0.000545 -0.007832   0.008664
3  0.011719  0.003750  0.000716 -0.007917   0.008789
4  0.015625  0.003750  0.000716 -0.007917   0.008789

Convert rotational rate from degrees/sec to radians/sec

In [11]:
gyroscope_data[['x', 'y', 'z']].applymap(lambda x: x * np.pi / 180).head()

          x         y         z
0 -0.016362 -0.021817  0.015272
1 -0.016362 -0.021817  0.015272
2 -0.016362 -0.032725  0.004363
3 -0.022907 -0.034907  0.002182
4 -0.030543 -0.037088  0.000000

In [12]:
gyroscope_data[['x', 'y', 'z']] = np.radians(gyroscope_data[['x', 'y', 'z']])

In [13]:
gyroscope_data.head()

       time         x         y         z
0  0.000000 -0.016362 -0.021817  0.015272
1  0.003906 -0.016362 -0.021817  0.015272
2  0.007812 -0.016362 -0.032725  0.004363
3  0.011719 -0.022907 -0.034907  0.002182
4  0.015625 -0.030543 -0.037088  0.000000

In [14]:
accelerometer_data[['x', 'y', 'z']] = np.radians(accelerometer_data[['x', 'y', 'z']])

In [15]:
accelerometer_data.head()

       time         x         y         z
0  0.000000  0.000332 -0.000912  0.017070
1  0.003906  0.000332 -0.000912  0.017070
2  0.007812  0.000332 -0.001185  0.017411
3  0.011719  0.000469 -0.000571  0.017274
4  0.015625  0.000060 -0.000571  0.017342

In [16]:
magnetometer_data[['x', 'y', 'z']] = np.radians(magnetometer_data[['x', 'y', 'z']])

In [17]:
magnetometer_data.head()

       time         x         y         z
0  0.000000  0.003664  0.000545 -0.007832
1  0.003906  0.003664  0.000545 -0.007832
2  0.007812  0.003664  0.000545 -0.007832
3  0.011719  0.003750  0.000716 -0.007917
4  0.015625  0.003750  0.000716 -0.007917

Normalize magnitude of both the accelerometer and magnetometer (MinMax scalar)

In [18]:
min_magnetometer = magnetometer_data[['x', 'y', 'z']].min()

In [19]:
min_magnetometer

x   -0.008002
y   -0.008053
z   -0.008633
dtype: float64

In [20]:
max_magnetometer = magnetometer_data[['x', 'y', 'z']].max()

In [21]:
max_magnetometer

x    0.008812
y    0.007712
z    0.004014
dtype: float64

In [22]:
((magnetometer_data[['x', 'y', 'z']]  - min_magnetometer) / (max_magnetometer - min_magnetometer)).head()

          x         y         z
0  0.693870  0.545410  0.063344
1  0.693870  0.545410  0.063344
2  0.693870  0.545410  0.063344
3  0.698935  0.556221  0.056610
4  0.698935  0.556221  0.056610

In [23]:
min_accelerometer = accelerometer_data[['x', 'y', 'z']].min()

In [24]:
min_accelerometer

x   -0.018689
y   -0.018450
z   -0.003051
dtype: float64

In [25]:
max_accelerometer = accelerometer_data[['x', 'y', 'z']].max()

In [26]:
max_accelerometer

x    0.020956
y    0.018382
z    0.029861
dtype: float64

In [27]:
((accelerometer_data[['x', 'y', 'z']] - min_accelerometer) / (max_accelerometer - min_accelerometer)).head()

          x         y         z
0  0.479790  0.476166  0.611354
1  0.479790  0.476166  0.611354
2  0.479790  0.468762  0.621711
3  0.483229  0.485422  0.617569
4  0.472911  0.485422  0.619637

In [41]:
np.sqrt(np.square(magnetometer_data[['x', 'y', 'z']]).sum(axis=1)).head()

0    0.008664
1    0.008664
2    0.008664
3    0.008789
4    0.008789
dtype: float64

Normalize the magnitude of accelerometer

In [43]:
min_accelerometer = accelerometer_data[['magnitude']].min()
max_accelerometer = accelerometer_data[['magnitude']].max()
((accelerometer_data[['magnitude']] - min_accelerometer) / (max_accelerometer - min_accelerometer)).head()

   magnitude
0   0.426219
1   0.426219
2   0.442106
3   0.434805
4   0.437556

Normalize the magnitude of magnetometer

In [44]:
min_magnetometer = magnetometer_data[['magnitude']].min()
max_magnetometer = magnetometer_data[['magnitude']].max()
((magnetometer_data[['magnitude']] - min_magnetometer) / (max_magnetometer - min_magnetometer)).head()

   magnitude
0   0.699741
1   0.699741
2   0.699741
3   0.849626
4   0.849626

In [39]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler() 
scaled_values = scaler.fit_transform(accelerometer_data[['x', 'y', 'z']]) 
scaled_values

array([[0.47979001, 0.47616642, 0.61135387],
       [0.47979001, 0.47616642, 0.61135387],
       [0.47979001, 0.46876226, 0.62171077],
       ...,
       [0.45915386, 0.46691134, 0.62586838],
       [0.45571429, 0.45765578, 0.62586838],
       [0.45399472, 0.46320902, 0.61549557]])

source [wikipedia](https://en.wikipedia.org/wiki/Conversion_between_quaternions_and_Euler_angles)  
The Euler angles: yaw (Y), pitch (X), roll (Z)

In [38]:
def euler2quaternions(yaw, pitch, roll):
    # Abbreviations for the various angular functions
    cy = np.cos(yaw * 0.5)
    sy = np.sin(yaw * 0.5)
    cp = np.cos(pitch * 0.5)
    sp = np.sin(pitch * 0.5)
    cr = np.cos(roll * 0.5)
    sr = np.sin(roll * 0.5)

    q_w = cy * cp * cr + sy * sp * sr
    q_x = cy * cp * sr - sy * sp * cr
    q_y = sy * cp * sr + cy * sp * cr
    q_z = sy * cp * cr - cy * sp * sr
    return np.array([[q_w, q_x, q_y, q_z]])

In [46]:
def quaternions2euler(quaterniond):
    # roll (x-axis rotation)
    q_w = quaterniond[0][0]
    q_x = quaterniond[0][1]
    q_y = quaterniond[0][2]
    q_z = quaterniond[0][3]
    sinr_cosp = +2.0 * (q_w * q_x + q_y * q_z)
    cosr_cosp = +1.0 - 2.0 * (q_x * q_x + q_y * q_y)
    roll = atan2(sinr_cosp, cosr_cosp)

    # pitch (y-axis rotation)
    sinp = 2.0 * (q_w * q_y - q_z * q_x);
    if (fabs(sinp) >= 1): pitch = copysign(M_PI / 2, sinp) # use 90 degrees if out of range
    else: pitch = asin(sinp)

    # yaw (z-axis rotation)
    siny_cosp = 2.0 * (q_w * q_z + q_x * qy)
    yaw = atan2(siny_cosp, cosy_cosp)
    return np.array([[roll, pitch, yaw]])

The quaternion conjugate has the form of
q' = q0 − iq1 − jq2 − kq3

In [54]:
def quaternions_conjugate(quaternion):
    return quaternion * np.array([[1, -1, -1, -1]])

In [55]:
def quaternions_product(a, b):
    w0, x0, y0, z0 = a[0]
    w1, x1, y1, z1 = b[0]
    return np.array([-x1 * x0 - y1 * y0 - z1 * z0 + w1 * w0,
                     x1 * w0 + y1 * z0 - z1 * y0 + w1 * x0,
                     -x1 * z0 + y1 * w0 + z1 * x0 + w1 * y0,
                     x1 * y0 - y1 * x0 + z1 * w0 + w1 * z0], dtype=np.float64)

In [56]:
a = np.array([[1,2,3,4]])
b = np.array([[1,2,3,4]])

In [57]:
quaternions_product(a,b)

array([-28.,   4.,   6.,   8.])

# PROBLEM 2