In [27]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# PROBLEM 1

Read IMUdata using pandas dataframe

In [2]:
imu_data = pd.read_csv('IMUData.csv')

In [4]:
imu_data.head()

,time,gyroscope.X,gyroscope.Y,gyroscope.Z,accelerometer.X,accelerometer.Y,accelerometer.Z,magnetometer.X,magnetometer.Y,magnetometer.Z
0,0.000000,-0.9375,-1.250,0.875,0.019043,-0.052246,0.97803,0.20996,0.031250,-0.44873
1,0.003906,-0.9375,-1.250,0.875,0.019043,-0.052246,0.97803,0.20996,0.031250,-0.44873
2,0.007812,-0.9375,-1.875,0.250,0.019043,-0.067871,0.99756,0.20996,0.031250,-0.44873
3,0.011719,-1.3125,-2.000,0.125,0.026855,-0.032715,0.98975,0.21484,0.041016,-0.45361
4,0.015625,-1.7500,-2.125,0.000,0.003418,-0.032715,0.99365,0.21484,0.041016,-0.45361

In [6]:
imu_data.columns

Index(['time', ' gyroscope.X', ' gyroscope.Y', ' gyroscope.Z',
       ' accelerometer.X', ' accelerometer.Y', ' accelerometer.Z',
       ' magnetometer.X', ' magnetometer.Y', ' magnetometer.Z '],
      dtype='object')

## Gyroscope data

In [41]:
gyroscope_data = imu_data[['time', ' gyroscope.X', ' gyroscope.Y', ' gyroscope.Z']].rename(columns = {' gyroscope.X':'x', ' gyroscope.Y':'y', ' gyroscope.Z':'z'})

In [42]:
gyroscope_data.head()

       time       x      y      z
0  0.000000 -0.9375 -1.250  0.875
1  0.003906 -0.9375 -1.250  0.875
2  0.007812 -0.9375 -1.875  0.250
3  0.011719 -1.3125 -2.000  0.125
4  0.015625 -1.7500 -2.125  0.000

## Accelerometer data

In [23]:
accelerometer_data = imu_data[['time', ' accelerometer.X', ' accelerometer.Y', ' accelerometer.Z']].rename(columns = {' accelerometer.X':'x', ' accelerometer.Y':'y', ' accelerometer.Z':'z'})

In [24]:
accelerometer_data.head()

       time         x         y        z
0  0.000000  0.019043 -0.052246  0.97803
1  0.003906  0.019043 -0.052246  0.97803
2  0.007812  0.019043 -0.067871  0.99756
3  0.011719  0.026855 -0.032715  0.98975
4  0.015625  0.003418 -0.032715  0.99365

## Magnetometer data

In [25]:
magnetometer_data = imu_data[['time', ' magnetometer.X', ' magnetometer.Y', ' magnetometer.Z ']].rename(columns = {' magnetometer.X':'x', ' magnetometer.Y':'y', ' magnetometer.Z ':'z'})

In [26]:
magnetometer_data.head()

       time        x         y        z
0  0.000000  0.20996  0.031250 -0.44873
1  0.003906  0.20996  0.031250 -0.44873
2  0.007812  0.20996  0.031250 -0.44873
3  0.011719  0.21484  0.041016 -0.45361
4  0.015625  0.21484  0.041016 -0.45361

Convert rotational rate from degrees/sec to radians/sec

In [43]:
gyroscope_data[['x', 'y', 'x']] = gyroscope_data[['x', 'y', 'x']].applymap(lambda x: x * np.pi / 180)

In [44]:
gyroscope_data.head()

       time         x         y      z
0  0.000000 -0.016362 -0.021817  0.875
1  0.003906 -0.016362 -0.021817  0.875
2  0.007812 -0.016362 -0.032725  0.250
3  0.011719 -0.022907 -0.034907  0.125
4  0.015625 -0.030543 -0.037088  0.000

In [37]:
gyroscope_data[['x', 'y', 'x']] = np.radians(gyroscope_data[['x', 'y', 'x']])

In [40]:
gyroscope_data.head()

       time         x         y      z
0  0.000000 -0.016362 -0.021817  0.875
1  0.003906 -0.016362 -0.021817  0.875
2  0.007812 -0.016362 -0.032725  0.250
3  0.011719 -0.022907 -0.034907  0.125
4  0.015625 -0.030543 -0.037088  0.000

In [45]:
accelerometer_data[['x', 'y', 'x']] = np.radians(accelerometer_data[['x', 'y', 'x']])

In [46]:
accelerometer_data.head()

       time         x         y        z
0  0.000000  0.000332 -0.000912  0.97803
1  0.003906  0.000332 -0.000912  0.97803
2  0.007812  0.000332 -0.001185  0.99756
3  0.011719  0.000469 -0.000571  0.98975
4  0.015625  0.000060 -0.000571  0.99365

In [47]:
magnetometer_data[['x', 'y', 'x']] = np.radians(magnetometer_data[['x', 'y', 'x']])

In [49]:
magnetometer_data.head()

       time         x         y        z
0  0.000000  0.003664  0.000545 -0.44873
1  0.003906  0.003664  0.000545 -0.44873
2  0.007812  0.003664  0.000545 -0.44873
3  0.011719  0.003750  0.000716 -0.45361
4  0.015625  0.003750  0.000716 -0.45361